body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
  display: flex;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

#root {
  padding: 20px;
  padding-top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
