#LeftBar {
  width: 260px;
  display: flex;
  color: white;
  #LeftOfLeftBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 234px;
    #LvBar {
      background: #46f6ff;
      border: 3px solid #d000c9;
      border-bottom: 0;
      // border-left: 24px solid transparent;
      // border-right: 24px solid transparent;
      height: 25px;
      width: 75px;
      box-sizing: content-box;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      .wrapper {
        display: flex;

        .number {
          margin-left: 3px;
        }
      }
    }
    #BuyPokemonBar {
      width: 100%;
      background: #46f6ff;
      padding: 5px;
      border: 3px solid #d000c9;
      & > div {
        width: 100%;
      }
      #rollAndBuy {
        height: 62px;
        margin-bottom: 5px;
        background: transparent;
        display: flex;
        justify-content: space-between;
        & > div {
          background-color: aquamarine;
          width: 50%;
          cursor: pointer;
          border-radius: 1px;
          border: 3px solid #d000c9;
        }
        #roll,
        #buy {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 3px 0px;
          font-size: 14px;
          & > div:first-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & > div:last-child {
              display: flex;
              .ballImage {
                margin-left: 3px;
                height: 20px;
                width: 20px;
              }
            }
          }
        }
        #roll {
          background: #f46b45; /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #eea849, #f46b45); /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(
            to right,
            #eea849,
            #f46b45
          ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          border-right: 0;
          border-radius: 0;
        }

        #buy {
          background: #f46b45; /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #00b4db, #0083b0); /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(
            to right,
            #00b4db,
            #0083b0
          ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          .showXP {
            display: flex;
            align-items: center;
            height: 14px;
            .showNumber {
              font-size: 11px;
            }
            .showProgress {
              margin-left: 5px;
              height: 4px;
              width: 60px;
              background: black;
              border-radius: 2px;
              .percent {
                height: 100%;
                width: 35px;
                border-radius: 2px;
                background: linear-gradient(to right, #37ff37, #37ff37);
              }
            }
          }
        }
      }
      .overLay {
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        width: 218px;
        height: 518px;
        cursor: not-allowed;
      }
      #pokemonCardWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        height: 518px;
        .pokemonCard {
          height: 99.6px;
          display: flex;
          flex-direction: center;
          border-radius: 1px;
          justify-content: center;
          background: #ff0099; /* fallback for old browsers */
          background: -webkit-linear-gradient(to left, #493240, #ff0099); /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(
            to left,
            #493240,
            #ff0099
          ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          cursor: pointer;
          padding: 3px;
          padding-bottom: 0;
          margin-bottom: 5px;
          .pokemonCardWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .pokemonImage {
              height: 75%;
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
            .pokemonInfo {
              height: 25%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              background: transparent;

              .pokemonPrice {
                display: flex;

                .ballImage {
                  margin-left: 3px;
                  height: auto;
                  width: 20px;
                }
              }
            }
          }
        }
        .pokemonCard:last-child {
          margin: 0;
        }
      }
    }
  }
  #RightOfLeftBar {
    display: flex;
    align-items: center;
    position: relative;
    width: 10%;
    #LockBar {
      background: #46f6ff;
      cursor: pointer;
      color: black;
      align-self: flex-start;
      top: 42px;
      // border-left: 24px solid transparent;
      // border-right: 24px solid transparent;
      border: 3px solid #d000c9;
      border-left: 0;
      height: 45px;
      width: 100%;
      box-sizing: content-box;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      box-sizing: border-box;
      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .ball {
          .ballImage {
            height: 100%;
            width: 20px;
          }
        }
      }
    }
    #BallBar {
      background: #46f6ff;
      color: black;
      // border-left: 24px solid transparent;
      // border-right: 24px solid transparent;
      border: 3px solid #d000c9;
      border-left: 0;
      height: 75px;
      width: 25px;
      box-sizing: content-box;
      display: flex;
      align-items: center;
      justify-content: center;
      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .ball {
          .ballImage {
            height: 100%;
            width: 20px;
          }
        }
      }
    }
  }
}
