#outerBoard {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;

  // #botBoard {
  // height: 600px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // align-self: flex-end;
  // }
}

#board {
  margin: 0px 20px;
  width: 600px;
  height: 600px;
  display: flex;

  #leftBoard {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  #rightBoard {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.square {
  border: 1px solid red;
  position: relative;
  width: calc(100% / 3);
  height: calc(100% / 6);
  display: flex;
  align-items: center;
  justify-content: center;

  .miniSquare {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    .healthBar {
      width: 70px;
      padding: 3px;
      border-radius: 3px;
      background: black;
      position: absolute;
      top: 0;
      z-index: 1000;
      .innerHealthBar {
        width: 100%;
        height: 10px;
        background: red;
        .healthPart {
          width: 70%;
          height: 10px;
          background: #00ff02;
        }
      }
    }
    .pkm {
      // max-width: calc(100% - 2px);
      // max-height: calc(100% - 2px);
      background-color: none;
    }
  }
}

.holderOfOpponent,
.holderOfMe {
  width: 100px;
  height: 600px;
  display: flex;
  flex-direction: column;

  .holderSquare {
    position: relative;
    width: 100%;
    height: calc(100% / 6);
    padding: 0 6px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .frame {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .outerPkm {
      width: 100%;
      height: 100%;

      .pkm {
        z-index: 10;
        position: relative;
        display: flex;
        justify-content: center;
        background: rgba(0, 0, 0, 0);

        .pkm {
          z-index: 10;
          position: absolute;
          bottom: 0;
          cursor: default;
          // max-width: calc(100% - 2px);
          // max-height: calc(100% - 2px);
        }
      }
    }
  }
}
