#PlayersBar {
  width: 260px;
  height: 600px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  #PlayersBarWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 225px;
    .playerInfo {
      width: 100%;
      height: 75px;
      background: #11a05d;
      margin: 4px 0px;
      border-top-left-radius: 37.5px;
      border-bottom-left-radius: 37.5px;
      color: white;
      border: 2px solid black;
      .playerInfoWrapper {
        display: flex;
        width: 100%;
        height: 100%;
        border: 1px solid white;
        border-top-left-radius: 35.5px;
        border-bottom-left-radius: 35.5px;
        .left {
          height: 100%;
          width: 157.5px;
          border-top-left-radius: 37.5px;
          border-bottom-left-radius: 37.5px;
          display: flex;
          align-items: center;
          padding-left: 30px;
          .leftWrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .name {
              font-size: 18px;
              line-height: 18px;
              margin-bottom: 2px;
            }
            .healthBar {
              padding-top: 6px;
              height: 15px;
              width: 107.5px;
              background: black;
              border-radius: 7.5px;
              display: flex;
              align-items: center;
              padding: 3px 6px;
              .hp {
                font-size: 10px;
                line-height: 10px;
              }
              .hpBar {
                margin-left: 3px;
                height: 100%;
                width: 100%;
                border-radius: 5px;
                background: #07fe55;
                .percentHpBar {
                  height: 100%;
                  width: 50%;
                  background: #ff4444;
                }
              }
            }
            .healthNum {
              margin-top: 2px;
              font-size: 14px;
              line-height: 14px;
            }
          }
        }
        .right {
          height: 100%;
          width: 67.5px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          .avatarPlayer {
            width: 45px;
            height: 45px;
          }
          .lv {
            width: 100%;
            height: 25px;
            background: #464c5a;
            border: 1px solid #85b8b5;
            border-bottom: 0;
            border-right: 0;
            .lvWrapper {
              border: 1px solid #adb7bf;
              border-bottom: 0;
              border-right: 0;
              width: 100%;
              height: 100%;
              padding: 5px 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 14px;
              line-height: 14px;
              .lvWrapperWrapper {
              }
            }
          }
        }
      }
    }
    .playerInfo:first-child {
      margin-top: 0;
    }
    .playerInfo:last-child {
      margin-bottom: 0;
    }
  }
}
