#roundAndTime {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .roundBar {
    background: #46f6ff;
    border: 3px solid #d000c9;
    border-top: 0;
    border-bottom: 0;
    // border-left: 24px solid transparent;
    // border-right: 24px solid transparent;
    height: 22px;
    width: 80px;
    padding: 0 5px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    .wrapper {
      display: flex;
      .number {
        margin-left: 3px;
      }
    }
  }
  .timeBar {
    height: 55px;
    width: 244px;
    position: relative;
    .rectangle {
      height: 32px;
      width:100%;
      background: #11120B;
      position: absolute;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding:0px 27px;
      color:#C4BE99;
      font-size:14px;
      line-height:1em;
      .currentStatus{

      }
      .currentPkms{
        display: flex;
        align-items: center;
        justify-content: center;
      .pokemonIcon{
        width:12.5px;
        height:12.5px;
        position: relative;
        z-index: 10;
      }
      .numberOfPkms{
        margin-left:3px;
      }
    }

    }
    .circle {
      height: 46px;
      width: 53px;
      background: #11120B;
      border-radius: 50%;
      position: absolute;
      margin-left:95.5px;
      margin-top:8px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom:6px;
      .miniCircle{
        margin:0;
        height:41px;
        width:41px;
        border-radius: 50%;
        background: #332810;
        display: flex;
        justify-content: center;
        align-items: center;
        .tinyCircle{
          height:35px;
          width:35px;
          font-size:16px !important;
          border-radius: 50%;
          background: #11120B;
          color:#F2C13B;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}





